.logo-admin {
    width: 50%;
}

.btn-bg-color {
    background-color: #68a689 !important;
    color: #ffffff !important;
}

.btn {
    font-family: "Merriweather", serif;
    font-size: 16px;
}


.select-form {
    /* background-color: rgb(93, 96, 96); */
}