.logo-admin {
    width: 50%;
}

.btn {
    font-family: "Merriweather", serif;
    background-color: #68a689 !important;
    color: #ffffff !important;
    box-shadow: 0 3px 2px #2a828c;
}

.card {
    border-radius: 1.5rem !important;
    background-color: #f2f2f2 !important;
    border: none !important;
    box-shadow: 4px 4px 3px #2a828c;
    width: 100%;
}

.bi-search {
    width: 2rem;
}

.form-select {
    background-color: #f2f2f2 !important;
}


@media (width < 576px) {
   .nav-mobile{
    gap: 2rem;
    
   }

   .mobile-center {
    text-align: center;
   }

   .mob-center {
    justify-content: center;
   }
}