.email-connexion {
    background-color: #F2F2F2 !important;
    border-radius: 2rem !important;
}

.mdp-connexion {
    background-color: #F2F2F2 !important;
    border-radius: 2rem !important;
}

.logo-connexion {
    width: 10rem;
}

.form-connexion {
    width: 20rem;
}

.btn-connexion {
    margin: 0 5rem;
}


